/* Container for the form with background color and border */
.form-container {
  background-color: #2C2C2C;
  padding: 20px;
  border-radius: 8px;
  max-width: 450px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #3D3D3D; /* Add this to make the box visible */
}
.head{
  color: #FFA500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;

}

.form-inner {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

label {
  margin: 10px 0 5px;
  color: white;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #3D3D3D;
  color: white;
}

button {
  padding: 10px;
  background-color: #FFA500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f3b749;
}

.success-message, .error-message {
  color: white;
}
