<div class="suggest-section">
    <div class="heading-box">
        <h1>Suggestions</h1>
    </div>
    <p>We're always looking to improve our travel offerings and value your input!</p>
    <p>If you have a specific destination in mind or need a custom organized tour, click the button below!</p>
    <p>We can arrange trips to other amazing destinations not mentioned on our webpage. Just let us know where you want to go, and we’ll make it happen!</p>
    <br>
    <button class="custom-tour-button" routerLink="/custom" >Customized Tour</button>
  </div>
  