  
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/destinations/1.jpg" class="card-img-top" alt="Hiking">
                        <div class="card-body">
                            <h5 class="card-title">Amazon Rainforest, Brazil:</h5>
                            <p class="card-text">The Amazon Rainforest, the world's largest tropical rainforest, spans South America and is renowned for its immense biodiversity, hosting thousands of plant and animal species. Visitors can enjoy unique experiences, including guided wildlife tours, river cruises, and interactions with indigenous communities, all set within this vibrant and dense ecosystem.</p>
                            <br>
                            <a class="btn btn-primary"  routerLink="/destination">Explore More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/destinations/2.jpg" class="card-img-top" alt="Animal Watching">
                        <div class="card-body">
                            <h5 class="card-title">Kyoto, Japan:</h5>
                            <p class="card-text">Kyoto is renowned for its historical charm, featuring ancient temples, traditional tea houses, and serene gardens. This cultural treasure showcases stunning architecture, beautiful cherry blossoms in spring, and vibrant autumn foliage, making it a must-visit destination for anyone interested in Japan’s rich heritage and captivating history.</p>
                            <br>
                            <a class="btn btn-primary"  routerLink="/destination">Explore More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/destinations/3.jpg" class="card-img-top" alt="Surfing">
                        <div class="card-body">
                            <h5 class="card-title">Serengeti National Park, Tanzania:</h5>
                            <p class="card-text">Serengeti National Park, known for its incredible wildlife and dramatic landscapes, is a prime destination for safari enthusiasts. Visitors can witness the Great Migration, where millions of wildebeest, zebras, and other animals traverse the plains in search of fresh grazing grounds, amidst a vibrant array of predators and prey.</p>
                            <br>
                            <a class="btn btn-primary"  routerLink="/destination">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/destinations/4.jpg" class="card-img-top" alt="Cycling">
                        <div class="card-body">
                            <h5 class="card-title">Paris, France:</h5>
                            <p class="card-text">Paris, the "City of Light," is renowned for its iconic landmarks, including the Eiffel Tower, the Louvre, and Notre-Dame Cathedral. Beyond its historic and cultural attractions, the city boasts charming neighborhoods, world-class cuisine, and a vibrant arts scene, making it a captivating destination for travelers from around the world.</p>
                            <br>
                            <a class="btn btn-primary"  routerLink="/destination">Explore More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/destinations/5.jpg" class="card-img-top" alt="Whale Watching">
                        <div class="card-body">
                            <h5 class="card-title">Cape Town, South Africa:</h5>
                            <p class="card-text">Cape Town is a breathtaking coastal city famous for its stunning beaches, iconic Table Mountain, and vibrant cultural scene. Visitors can explore the scenic Cape Peninsula, tour Robben Island, and partake in outdoor activities like hiking and whale watching, making it a diverse destination for adventure and exploration.</p>
                            <br>
                            <a class="btn btn-primary"  routerLink="/destination">Explore More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/assets/destinations/6.jpg" class="card-img-top" alt="Kayaking">
                        <div class="card-body">
                            <h5 class="card-title">Rome, Italy:</h5>
                            <p class="card-text">Rome, home to ancient ruins such as the Colosseum and the Roman Forum, is a treasure trove of history and stunning architecture. This vibrant city offers a rich culinary scene, with delicious local dishes and world-renowned cuisine, making it an unforgettable destination for history buffs and food lovers alike.</p>
                            <br>
                            
                            <a class="btn btn-primary"  routerLink="/destination">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<br>


